<header>
    <nav class="navbar altnavbar{{ session.pref }} navbar-expand-md navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="view/images/machine{{ session.pref }}.jpg" height="75"
                                                  alt="Machine logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href=".?action=Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=".?action=Tours">Tours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=".?action=Contact">Contact ||</a>
                    </li>
                    {% if session.is_valid_user %}
                        <li class="nav-item">
                            <a class="nav-link" href=".?action=Reservation">Make Reservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=".?action=View Reservation">View Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=".?action=Logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href=".?action=Show Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=".?action=Show Registration">Registration</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
