{{ include('shared/header.twig') }}
{{ include('shared/nav.twig') }}

<main class="flex-shrink-0">
    <div class="container">
        <div class="row mt-5">
            <div class="col-5">
                <img src="view/images/thebase.jpg" alt="The base" class="img-fluid">
            </div>
            <div class="col-7">
                <h1 class="mt-5">Where To Find Us</h1>
                <p class="lead">You can find us in our usual place:</p>
                <strong>The Base in the mountains</strong>
                <p></p>
                <p class="lead">I'm not sure why everyone can find this place, but just ask around if you get lost</p>
            </div>
        </div>
    </div>
</main>

{{ include('shared/footer.twig') }}
