{{ include('shared/header.twig') }}
{{ include('shared/nav.twig') }}

<main class="flex-shrink-0">
    <div class="container">
        <div class="row mt-5">
            <div class="col-5">
                <img src="view/images/tallneck-bigcrop.jpg" alt="Tallneck top" class="img-fluid">
            </div>
            <div class="col-7">
                <h1 class="mt-5">Welcome to Horizon: Tours!</h1>
                <p class="lead mt-5">Want to explore the wilds around you? Go further east, west, or really far 
                    west? We have tours for all! We offer machine hunting, salvaging, and exploration for all 
                    experience levels!</p>
            </div>
        </div>

    </div>
</main>

{{ include('shared/footer.twig') }}
